<div class="mt-10 mb-6 pb-6 border-b dark:border-slate-700 space-y-2">
  <h1 class="heading">Edit Team</h1>
  <p class="text-soft">Edit your team's details.</p>
</div>

<%= render "form", team: @team %>
