<div class="max-w-3xl mx-auto px-4 my-16">
  <%= render 'owned_teams', owned_teams: @owned_teams %>

  <%= render 'membered_teams', membered_teams: @membered_teams %>

  <%= render 'other_teams', other_teams: @other_teams %>
</div>
