<% content_for :title, 'New Team' %>
<div class="max-w-4xl mx-auto my-16">
  <div class="pb-6 mb-4 border-b border-slate-200 dark:border-slate-700">
    <h1 class="heading">New Team</h1>
  </div>
  <div>
    <%= render 'teams/forms/form', team: @team %>
  </div>
</div>
