<div class="max-w-3xl mx-auto px-4 my-16">
  <div class="mb-4 pb-6 border-b border-slate-200 dark:border-slate-700">
    <h1 class="heading">New Team</h1>
  </div>

  <div>
    <%= render "form", team: @team %>
  </div>
</div>
