<div class="pb-6 mt-10">
  <h1 class="heading">My Team Memberships</h1>
</div>

<% if membered_teams.present? %>
  <%= render 'teams/shared/team_list', teams: membered_teams %>
<% else %>
  <div class="flex flex-col items-center justify-center gap-6 py-12">
    <p class="text-soft text-center">You're not a member of any teams yet.</p>
    <%= link_to teams_path(tab: 'otherTeamsTab'), class: 'btn btn-dark btn-muted gap-2' do %>
      <%= inline_svg_tag 'icons/search.svg', class: 'size-4.5' %>
      <span>Find a team</span>
    <% end %>
  </div>
<% end %>
