<div class="flex flex-wrap items-center justify-between gap-6 pb-6 mt-10">
  <h1 class="heading">My Teams</h1>
  <% if owned_teams.present? %>
    <%= link_to 'New team', new_team_path, class: 'btn btn-primary' %>
  <% end %>
</div>

<% if owned_teams.present? %>
  <%= render 'teams/shared/team_list', teams: owned_teams %>
<% else %>
  <div class="flex flex-col items-center justify-center gap-6 py-12">
    <p class="prose dark:prose-invert text-soft">You don't have any teams yet.</p>
    <%= link_to 'Create a team', new_team_path, class: 'btn btn-primary' %>
  </div>
<% end %>
