<div data-controller="tabs" data-tabs-active-class="text-slate-900 dark:text-slate-200 bg-slate-200 dark:bg-slate-700/70" data-tabs-default-tab-value="tab1" class="max-w-3xl mx-auto px-4 my-10">
  <div class="flex items-center gap-2 bg-slate-50/85 dark:bg-slate-800/85 p-2 rounded-md mb-6 border dark:border-slate-700 overflow-x-auto">
    <button type="button" id="tab1" data-tabs-target="btn" data-action="click->tabs#select" class="rounded-lg py-2 px-4 flex items-center gap-3 hover:bg-slate-200 dark:hover:bg-slate-700/70">
      <%= inline_svg_tag 'icons/settings.svg', class: 'size-6' %>
      <span>Settings</span>
    </button>

    <button type="button" id="tab2" data-tabs-target="btn" data-action="click->tabs#select" class="rounded-lg py-2 px-4 flex items-center gap-3 hover:bg-slate-200 dark:hover:bg-slate-700/70">
      <%= inline_svg_tag 'icons/profile.svg', class: 'size-6' %>
      <span>Account</span>
    </button>
  </div>

  <div id="tab1" data-tabs-target="tab">
    <%= render 'users/edit_settings' %>
  </div>

  <div id="tab2" data-tabs-target="tab" class="hidden">
    <%= render 'edit_user' %>
  </div>
</div>
