<div class="pb-6 mt-10 space-y-2 border-b dark:border-slate-700">
  <h1 class="heading">Featured</h1>
  <p class="text-soft">Recent long runs and streaks by members of this team.</p>
</div>

<div class="mb-10">
  <% featured_runs = team.featured_runs %>
  <% if featured_runs.present? %>
    <% featured_runs.each do |run| %>
      <%= render run, team: team %>
    <% end %>
  <% else %>
    <div class="flex flex-col items-center justify-center gap-6 py-12">
      <p class="prose dark:prose-invert text-soft">No featured activity to show.</p>
    </div>
  <% end %>
</div>
