<div class="mt-10 pb-6 border-b dark:border-slate-700 space-y-2">
  <h1 class="heading">Featured</h1>
  <p class="text-soft">Recent long runs by members of this team.</p>
</div>

<div class="divide-y dark:divide-slate-700 dark:text-slate-700 mb-10">
  <% recent_long_runs = team.recent_long_runs %>
  <% if recent_long_runs.present? %>
    <% recent_long_runs.each do |run| %>
      <%= render run, team: team %>
    <% end %>
  <% else %>
    <div class="flex flex-col gap-6 items-center justify-center py-12">
      <p class="prose dark:prose-invert text-soft">No featured activity to show.</p>
    </div>
  <% end %>
</div>
