<div class="pb-6 mt-10 space-y-1">
  <h1 class="heading">Join Requests</h1>
  <p class="text-soft">
    <%= "There #{join_requests.count == 1 ? 'is' : 'are'} currently #{join_requests.count > 0 ? pluralize(join_requests.count, 'pending join request') : 'no pending join requests'} for this team." %>
  </p>
</div>

<% if join_requests.present? %>
  <div class="space-y-4">
    <% join_requests.each do |request| %>
      <%= render 'teams/show/join_request', request: request %>
    <% end %>
  </div>
<% else %>
  <div class="flex flex-col items-center justify-center gap-6 py-12">
    <p class="text-soft text-center">No new join requests.</p>
  </div>
<% end %>
