<div id="teamMembers">
  <% if members.present? %>
    <div class="space-y-4">
      <% members.sort_by { it.default_name.downcase }.each do |member| %>
        <%= render 'teams/show/member', team: team, member: member %>
      <% end %>
    </div>
  <% else %>
    <div class="flex flex-col items-center justify-center gap-4 my-24 md:my-32">
      <p class="font-semibold">No search results</p>
      <p class="text-soft text-center text-sm text-pretty md:max-w-[70%]">Sorry, we couldn&#8217;t find any results for &#8220;<%= @query %>&#8221;.</p>
    </div>
  <% end %>
</div>
