<div class="pb-6 mt-10 border-b dark:border-slate-700">
  <h1 class="heading">Recent Activity</h1>
  <p class="text-soft">Recent runs by members of this team.</p>
</div>

<div class="mb-10">
  <% if @recent_runs.present? %>
    <% @recent_runs.each do |run| %>
      <%= render run, team: team %>
    <% end %>
  <% else %>
    <div class="flex flex-col items-center justify-center gap-6 py-12">
      <p class="text-soft">No recent activity to show.</p>
    </div>
  <% end %>
</div>
