<div class="pb-6 mt-10 mb-6 space-y-2 border-b dark:border-slate-700">
  <h1 class="heading">Trends</h1>
  <p class="text-soft">Recent trends in <%= team.name %>.</p>
</div>

<!-- Add graphs here -->

<%= render 'teams/show/trends_graphs' %>
