<div class="pb-6 mt-10 mb-6 border-b dark:border-slate-700">
  <h1 class="heading">Trends</h1>
  <p class="text-soft">Recent trends in <%= team.name %>.</p>
</div>

<div class="mb-8">
  <%= render 'teams/show/trends_date_form', team: %>
</div>

<div id="teamTrends">
  <%= render 'teams/show/trends_graphs', team:, date_range_description: @trends_date_range_description %>
</div>
