<%= turbo_stream.replace dom_id(@comment) do %>
  <%= render 'comments/edit_form', comment: @comment %>
<% end %>

<%= turbo_stream.replace 'new_comment_form' do %>
  <div id="new_comment_form"></div>
<% end %>
