<div class="pb-6 mt-10 mb-6 space-y-2 border-b dark:border-slate-700">
  <h1 class="heading">Edit Team</h1>
  <p class="text-soft">Edit your team's details.</p>
</div>

<%= render 'teams/forms/form', team: @team %>
