<div class="pb-6 mt-10 mb-6 border-b dark:border-slate-700">
  <h1 class="heading">Edit Team</h1>
  <p class="text-soft">Edit your team&#8217;s details.</p>
</div>

<%= render 'teams/forms/form', team: team %>

<div class="pt-6 border-t border-slate-200 dark:border-slate-700">
  <h2 class="mb-2 text-lg font-bold text-slate-700 dark:text-slate-200">Danger Zone</h2>
</div>

<div
  data-controller="modal"
  data-modal-hide-modal-class="opacity-0 scale-75 pointer-events-none"
  data-modal-show-modal-class="opacity-100 scale-100 pointer-events-auto"
  data-modal-hide-backdrop-class="opacity-0 pointer-events-none"
  data-modal-show-backdrop-class="opacity-100 pointer-events-auto"
  class="card"
>
  <div class="flex flex-wrap gap-4 items-center justify-between">
    <div class="max-w-md">
      <p class="font-bold">Delete this team</p>
      <p class="help-text">Deleting this team will permanently remove all associated data. This action cannot be undone.</p>
    </div>

    <!-- Open Delete Team Modal Button -->
    <button data-action="mousedown->modal#open" data-modal-id="deleteTeam" class="btn btn-destructive whitespace-nowrap ml-auto">
      Delete team
    </button>
  </div>

  <%= render 'teams/shared/delete_team_modal', team: team %>
</div>
