<% show_members = local_assigns.fetch(:show_members, false) %>

<div class="space-y-4">
  <% teams.each do |team| %>
    <%= render 'teams/shared/team', team: team, show_members: show_members %>
  <% end %>
</div>
