<% request = team.join_requests.find_by(user_id: current_user) %>
<% current_page_team = current_page?(team_path(team)) %>

<% if current_user.owns?(team) %>
  <%= link_to 'Edit team',
                edit_team_path(team),
                data: { turbo: false },
                class: 'btn btn-sm btn-dark btn-muted'
  %>

<% elsif current_user.member_of?(team) %>
  <%= button_to 'Leave team',
                leave_team_path(team),
                data: { turbo: false },
                class: 'btn btn-sm btn-destructive btn-muted'
  %>

<% else %>
  <% if team.gender_requirement_met?(current_user) %>
    <% if request.nil? || request.allowed? %>
      <%= button_to 'Join team',
                    request.nil? ? join_team_path(team) : team_join_request_path(request),
                    method: request.nil? ? :post : :patch,
                    data: { turbo: false },
                    class: 'btn btn-sm btn-primary btn-muted'
      %>

    <% elsif request.pending? %>
      <%= button_to 'Cancel request',
                    cancel_team_join_request_path(request),
                    method: :patch,
                    data: { turbo: false },
                    class: 'btn btn-sm btn-destructive btn-outline'
      %>
    <% end %>

  <% elsif current_page_team %>
    <% if request.present? && request.blocked? %>
      <p class="text-base error-message">You have been blocked from this team.</p>
    <% else %>
      <p class="w-full text-base text-center error-message">You must specify your gender to join this team.</p>
    <% end %>
  <% end %>
<% end %>
