<div class="pb-6 mt-10 mb-6 border-b dark:border-slate-700">
  <h1 class="heading">Trends</h1>
  <p class="text-soft">Recent trends in <%= member == current_user ? 'your' : "#{member.first_name}’s" %> participation in <span class="font-semibold italic"><%= team.name %></span>.</p>
</div>

<div class="mb-8">
  <%= render 'teams/member/trends_date_form', team:, member: %>
</div>

<div id="memberTrends">
  <%= render 'teams/member/trends_graphs', team:, member:, date_range_description: @trends_date_range_description %>
</div>
