@utility modal {
  @apply fixed left-1/2 top-1/2 z-50 w-[calc(100%-2rem)] sm:w-full -translate-x-[calc(50%+1rem)] sm:-translate-x-1/2 -translate-y-1/2 max-w-2xl gap-4 bg-white dark:bg-[#131c2f] border border-slate-100 dark:border-slate-800 p-6 shadow-md transition duration-200 ease-in-out rounded-2xl mx-4 sm:mx-0 overflow-y-auto max-h-[calc(100svh-16rem)] mt-0 mb-10 sm:mb-0 max-sm:[@media(display-mode:standalone)]:max-h-[calc(100svh-12rem)] max-sm:[@media(display-mode:standalone)]:mb-12;

  /* Firefox - Higher specificity */
  scrollbar-width: thin;
  scrollbar-color: #9ca3af white; /* Light mode */
  & * {
    scrollbar-width: thin;
    scrollbar-color: #9ca3af white; /* Light mode */
  }

  html.dark & {
    scrollbar-color: #374151 #131c2f; /* Dark mode */
  }

  html.dark & {
    scrollbar-color: #374151 #131c2f; /* Dark mode */
  }

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    @apply w-2;
  }

  &::-webkit-scrollbar-track {
    @apply bg-white dark:bg-[#131c2f]; /* Overrides global styles */
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-400 dark:bg-gray-500; /* Thumb styling */
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500 dark:bg-gray-600;
  }
}

@utility modal-large {
  @apply fixed left-1/2 top-1/2 z-50 w-[calc(100%-2rem)] -translate-x-[calc(50%+1rem)] -translate-y-1/2 max-w-6xl gap-4 bg-white dark:bg-[#131c2f] border border-slate-100 dark:border-slate-800 p-6 shadow-md transition duration-200 ease-in-out rounded-2xl mx-4 overflow-y-auto max-h-[calc(100svh-10rem)] mt-0 mb-10;
  scrollbar-width: thin;
  scrollbar-color: #9ca3af white; /* Light mode */
  & * {
    scrollbar-width: thin;
    scrollbar-color: #9ca3af white; /* Light mode */
  }

  html.dark & {
    scrollbar-color: #374151 #131c2f; /* Dark mode */
  }

  html.dark & * {
    scrollbar-color: #374151 #131c2f; /* Dark mode */
  }
  &::-webkit-scrollbar {
    @apply w-2;
  }

  &::-webkit-scrollbar-track {
    @apply bg-white dark:bg-[#131c2f]; /* Overrides global styles */
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-400 dark:bg-gray-500; /* Thumb styling */
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500 dark:bg-gray-600;
  }
}

@utility dark {
  &html .modal {
    scrollbar-color: #374151 #131c2f; /* Dark mode */
  }

  & html .modal-large {
    scrollbar-color: #374151 #131c2f; /* Dark mode */
  }

  & html .modal {
    scrollbar-color: #374151 #131c2f; /* Dark mode */
  }

  & html .modal-large * {
    scrollbar-color: #374151 #131c2f; /* Dark mode */
  }
}

@utility modal-backdrop {
  @apply fixed inset-0 z-50 bg-black/50 backdrop-blur-xs transition duration-200 ease-in-out w-full h-full;
}

@utility modal-x-btn {
  @apply absolute right-2 top-2 p-2 rounded-lg opacity-70 transition-opacity hover:opacity-100 focus:outline-hidden focus:ring-2 focus:ring-offset-2 hover:bg-slate-200 dark:hover:bg-slate-700;
}

@utility card {
  @apply p-4 sm:p-6 rounded-xl bg-white dark:bg-slate-800/60 not-dark:shadow-md border border-slate-200 dark:border-slate-700;
}

@utility card-opaque {
  @apply p-4 sm:p-6 rounded-xl bg-white dark:bg-slate-800;
}

@utility frame-glass {
  @apply p-2 rounded-2xl sm:rounded-2xl bg-slate-100/30 dark:bg-slate-300/30 border-[0.5px] border-slate-200/40 dark:border-slate-500/40;
}

@utility dropdown-toggle {
  @apply flex items-center gap-3 py-2 pl-4 pr-3 border border-slate-300 shadow-sm bg-white font-normal rounded-md focus:outline-hidden focus:border-indigo-500 dark:bg-slate-800 dark:border-slate-700 dark:focus:border-slate-600;
}

@utility dropdown-menu {
  @apply pointer-events-none absolute z-50 w-max scale-75 min-w-36 rounded-lg bg-white p-1 opacity-0 not-dark:shadow-md transition duration-200 ease-in-out dark:bg-slate-800 border border-slate-300 dark:border-slate-700 flex flex-col;
}

@utility dropdown-option {
  @apply flex items-center gap-2.5 p-2 pr-6 rounded-sm text-sm transition duration-200 ease-in-out w-full hover:bg-slate-200/80 dark:hover:bg-slate-700/80;

  &:not(:has(svg)) {
    @apply px-3;
  }

  &.active {
    @apply bg-slate-200/80 dark:bg-slate-700/80 my-px first:mt-0 last:mb-0;
  }
}

@utility dropdown-option-primary {
  @apply flex items-center gap-2.5 p-2 pr-6 rounded-sm text-sm transition duration-200 ease-in-out w-full hover:bg-indigo-100 dark:hover:bg-indigo-900/80 hover:text-indigo-700 dark:hover:text-indigo-200;

  &:not(:has(svg)) {
    @apply px-3;
  }
}

@utility dropdown-option-destructive {
  @apply flex items-center gap-2.5 p-2 pr-6 rounded-sm text-sm transition duration-200 ease-in-out w-full hover:bg-rose-100 dark:hover:bg-rose-900/60 text-rose-600 dark:text-rose-400 hover:text-rose-700 dark:hover:text-rose-300;

  &:not(:has(svg)) {
    @apply px-3;
  }
}

@utility breadcrumbs {
  @apply text-sm text-slate-500 mb-4;
}

@utility breadcrumb-list {
  @apply flex space-x-2;
}

@utility breadcrumb-item {
  @apply text-indigo-600 hover:text-indigo-800;

  &.active {
    @apply font-semibold text-slate-900;
  }
}

@utility active {
  &.breadcrumb-item {
    @apply font-semibold text-slate-900;
  }
}
