<div class="flex flex-wrap items-center justify-between gap-6 pb-6 mt-10 border-b dark:border-slate-700">
  <h1 class="heading"><%= @title %></h1>
</div>
<div class="mb-10">
  <% if @runs.present? %>
    <%= render @runs %>
  <% else %>
    <div class="flex flex-col items-center justify-center gap-6 py-12">
      <p class="text-soft">No runs found for the selected date range.</p>
    </div>
  <% end %>
</div>
