<div class="flex flex-wrap gap-6 items-center justify-between mt-10 pb-6 border-b dark:border-slate-700">
  <h1 class="heading">Runs Today</h1>
  <% if user == current_user && user.runs_today.any? %>
    <div class="flex items-center justify-end">
      <%= link_to "New run", new_run_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<div class="divide-y dark:divide-slate-700 dark:text-slate-700 mb-10">
  <% if user.runs_today.any? %>
    <% user.runs_today.each do |run| %>
      <%= render run %>
    <% end %>
  <% else %>
    <div class="flex flex-col gap-6 items-center justify-center py-12">
      <% if user == current_user %>
        <p class="prose dark:prose-invert text-slate-700 dark:text-slate-400">You haven't gone on any runs yet today.</p>
        <%= link_to 'New run', new_run_path, class: 'btn btn-primary' %>
      <% else %>
        <p class="prose dark:prose-invert text-slate-700 dark:text-slate-400"><%= user.default_name %> hasn't gone on any runs yet today.</p>
      <% end %>
    </div>
  <% end %>
</div>
