<div
  data-controller="pinned-pages-menu"
  data-pinned-pages-menu-hidden-class="pointer-events-none scale-75 opacity-0"
  data-pinned-pages-menu-visible-class="pointer-events-auto scale-100 opacity-100"
  class="flex justify-end mt-4 mr-4 relative md:hidden z-50"
>
  <!-- Button to toggle the menu -->
  <button type="button" class="btn-dark btn-muted size-10 rounded-full grid place-items-center" data-action="click->pinned-pages-menu#toggle">
    <%= inline_svg_tag 'icons/pin.svg', class: 'size-5 text-soft', data: { pinned_pages_menu_target: 'openIcon' } %>
    <%= inline_svg_tag 'icons/x-mark.svg', class: 'size-6 text-soft hidden', data: { pinned_pages_menu_target: 'closeIcon' } %>
    <span class="sr-only">Toggle pinned menu</span>
  </button>

  <!-- Pinned pages menu -->
  <div
    data-pinned-pages-menu-target="menu"
    class="pointer-events-none absolute right-0 top-12 z-50 w-72 origin-top-right scale-75 rounded-lg bg-slate-50 p-2 pb-0.5 opacity-0 shadow-md transition duration-200 ease-in-out dark:bg-slate-800 border border-slate-300 dark:border-slate-700 dark:shadow-none"
  >
    <div class="relative max-h-80 overflow-y-auto hide-scrollbar">
      <%= render 'pinned_pages/list' %>

      <!-- Gradient overlay to hide the menu when scrolling -->
      <div class="sticky bottom-0 h-8 bg-gradient-to-t from-slate-50 dark:from-slate-800 to-transparent pointer-events-none"></div>
    </div>

    <div class="pb-1.5">
      <%= render 'pinned_pages/pin_button', page_url: request.fullpath %>
    </div>
  </div>
</div>
