<% if show_pwa_banner? %>
  <div data-controller="pwa-banner" data-pwa-banner-target="banner" class="hidden z-50 mb-12 w-auto max-w-full rounded-xl border border-blue-300 bg-blue-50 p-4 text-blue-600 dark:border-blue-800 dark:bg-blue-950 dark:text-blue-400">
    <div class="flex items-center justify-between gap-4">
      <div>
        <p class="max-sm:text-sm text-normal">Install PaceMaker as a progressive web app on your device for quick and easy access!</p>
        <%= link_to 'Learn how to install', edit_user_registration_path(tab: 'helpTab'), class: 'cursor-pointer font-semibold max-sm:text-sm text-blue-600 hover:text-blue-700 focus:ring-transparent dark:text-blue-400 dark:hover:text-blue-500 transition duration-200 ease-in-out' %>
      </div>

      <button type="button" data-action="click->pwa-banner#dismiss" class="group inline-flex size-8 items-center justify-center rounded-full p-2 text-blue-600 transition duration-200 ease-in-out hover:bg-blue-100 focus:ring-2 focus:ring-blue-400 dark:text-blue-400 dark:hover:bg-blue-900" aria-label="Dismiss">
        <span class="sr-only">Dismiss</span>
        <%= inline_svg_tag 'icons/x-mark.svg', class: 'size-5 shrink-0 text-blue-600 dark:text-blue-500 group-hover:text-blue-700 dark:group-hover:text-blue-400' %>
      </button>
    </div>
  </div>
<% end %>
