<% content_for :title, '403 Forbidden' %>

<section class="grid h-screen place-items-center">
  <div class="text-center">
    <div class="flex flex-col items-center justify-center gap-3 text-rose-500/75">
      <%= inline_svg_tag 'icons/exclamation-shield.svg', class: 'size-14' %>
      <h1 class="mb-4 text-8xl sm:text-9xl font-black">403</h1>
    </div>

    <p class="mb-4 text-2xl font-bold tracking-tight sm:text-4xl">Forbidden</p>
    <p class="mb-1 text-soft text-pretty">Sorry, you do not have access to this page or resource.</p>
    <p class="mb-6 text-soft text-pretty">Try one of the links below instead.</p>

    <div class="flex items-center justify-center gap-x-6">
      <%= link_to :back, class: 'btn btn-white btn-muted gap-2 font-bold' do %>
        <%= inline_svg_tag 'icons/arrow-long-left.svg', class: 'size-5' %>
        <span>Go back</span>
      <% end %>
      <%= link_to 'Return home', root_path, class: 'btn btn-primary font-bold' %>
    </div>
  </div>
</section>
