<% content_for :title, '502 Bad Gateway' %>

<section class="grid h-screen place-items-center">
  <div class="text-center">
    <div class="flex flex-col items-center justify-center gap-3 text-rose-500/75">
      <%= inline_svg_tag 'icons/link-slash.svg', class: 'size-14' %>
      <h1 class="mb-4 text-8xl sm:text-9xl font-black">502</h1>
    </div>

    <p class="mb-4 text-2xl font-bold tracking-tight sm:text-4xl">Bad Gateway</p>
    <p class="mb-1 text-soft text-balance">Sorry, something went wrong.</p>
    <p class="mb-6 text-soft text-balance">Try refreshing the page, or try going back and attempting the action again.</p>

    <div class="flex items-center justify-center gap-x-6">
      <%= link_to :back, class: 'btn btn-white btn-muted gap-2 font-bold' do %>
        <%= inline_svg_tag 'icons/arrow-long-left.svg', class: 'size-5' %>
        <span>Go back</span>
      <% end %>
      <%= link_to 'Return home', root_path, class: 'btn btn-primary font-bold' %>
    </div>
  </div>
</section>
