<% content_for :title, '503 Service Unavailable' %>

<section class="grid h-screen place-items-center">
  <div class="text-center">
    <div class="flex flex-col items-center justify-center gap-3 opacity-35 dark:opacity-25">
      <%= inline_svg_tag 'icons/server.svg', class: 'size-14' %>
      <h1 class="mb-4 text-8xl sm:text-9xl font-black">503</h1>
    </div>

    <p class="mb-4 text-2xl font-bold tracking-tight sm:text-4xl">Service Unavailable</p>
    <p class="mb-1 text-soft text-balance">The service you requested is not available at this time.</p>
    <p class="mb-6 text-soft text-balance">Please try again later, or try one of the links below.</p>

    <div class="flex items-center justify-center gap-x-6">
      <%= link_to :back, class: 'btn btn-white btn-muted gap-2 font-bold' do %>
        <%= inline_svg_tag 'icons/arrow-long-left.svg', class: 'size-5' %>
        <span>Go back</span>
      <% end %>
      <%= link_to 'Return home', root_path, class: 'btn btn-primary font-bold' %>
    </div>
  </div>
</section>
