<!-- Edit Run Modal Backdrop -->
<div
  data-modal-target="backdrop"
  data-modal-id="editRunModal"
  data-action="click->modal#backdropClose"
  class="modal-backdrop opacity-0 pointer-events-none"></div>

<!-- Edit Run Modal -->
<div
  id="editRunModal"
  role="dialog"
  tabindex="-1"
  data-modal-target="modal"
  class="modal opacity-0 pointer-events-none"
>
  <div class="flex flex-col space-y-1.5 text-center sm:text-left mb-6">
    <h2 class="text-lg font-semibold leading-none tracking-tight">Edit Run</h2>
  </div>

  <%= render 'runs/form_modal', run: run %>

  <!-- Close button -->
  <button data-action="click->modal#close" type="button" data-modal-id="editRunModal" class="modal-x-btn">
    <%= inline_svg_tag 'icons/x-mark.svg', class: 'size-4' %>
    <span class="sr-only">Close</span>
  </button>
</div>
