<% if locked %>
  <div id="locked_comments_notice" class="flex items-center justify-center gap-3 my-8 text-rose-600 dark:text-rose-400">
    <%= inline_svg_tag 'icons/lock.svg', class: 'size-5' %>
    <p class="text-center text-sm">You have disabled comments on this run. Only you can create new comments.</p>
  </div>
<% else %>
  <div id="locked_comments_notice"></div>
<% end %>
