<div class="bg-yellow-100 text-yellow-800 text-xs font-medium inline-flex items-center gap-1.5 px-2.5 py-1 rounded dark:bg-yellow-700/20 dark:text-yellow-400 border border-yellow-400 dark:border-yellow-700/20">
  <%= inline_svg_tag 'icons/runner.svg', class: 'size-4 shrink-0' %>
  <span class="whitespace-nowrap">Long Run</span>
</div>
