<div class="bg-yellow-100 text-yellow-600 text-xs font-semibold inline-flex items-center gap-1.5 pl-1.5 pr-2 py-[3px] rounded-full dark:bg-yellow-700/20 dark:text-yellow-400 border border-yellow-400 dark:border-yellow-700/20">
  <%= inline_svg_tag 'icons/runner.svg', class: 'size-[13px] shrink-0' %>
  <span class="whitespace-nowrap">Long Run</span>
</div>
