<!-- New Run Modal Backdrop -->
<div
  data-modal-target="backdrop"
  data-modal-id="newRunModal"
  data-action="mousedown->modal#backdropClose"
  class="modal-backdrop opacity-0 pointer-events-none"></div>

<!-- New Run Modal -->
<div
  id="newRunModal"
  role="dialog"
  aria-label="New Run Form"
  tabindex="-1"
  data-modal-target="modal"
  class="modal opacity-0 scale-75 pointer-events-none origin-bottom-right md:origin-bottom-left"
>
  <div class="flex flex-col space-y-1.5 text-center sm:text-left mb-6">
    <h2 class="text-lg font-semibold leading-none tracking-tight">New Run</h2>
  </div>

  <%= render 'runs/form_modal', run: Run.new %>

  <!-- Close button -->
  <button data-action="mousedown->modal#close" type="button" data-modal-id="newRunModal" class="modal-x-btn">
    <%= inline_svg_tag 'icons/x-mark.svg', class: 'size-4' %>
    <span class="sr-only">Close</span>
  </button>
</div>
