<div class="max-w-3xl mx-auto px-4 my-16">
  <div class="flex items-center justify-between pb-6 border-b dark:border-slate-700">
    <h1 class="heading">Runs</h1>
    <div class="flex items-center justify-end">
      <%= link_to "New Run", new_run_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div id="runs" class="divide-y dark:divide-slate-700 dark:text-slate-700 mb-10">
    <% @runs.each do |run| %>
      <div class="py-3">
        <%= render run %>

        <%= link_to "View Run", run, class: "btn-link inline-block my-3" %>
      </div>
    <% end %>
  </div>
</div>
