<div class="max-w-3xl mx-auto px-4 my-16">
  <div class="pb-6 border-b">
    <div class="flex items-center justify-between">
      <h1 class="heading">
        <%= @run.user.username.blank? ? @run.user.email : @run.user.username %>
      </h1>
      <div class="flex space-x-3">
        <%= link_to "Edit", edit_run_path(@run), class: "btn btn-white" %>
      </div>
    </div>
  </div>
  <%= render @run %>
</div>
