/* Custom components */
@import 'custom/custom.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading {
    @apply text-3xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight;
  }

  .subheading {
    @apply text-2xl font-bold text-slate-900 dark:text-slate-100 tracking-tight;
  }

  .text-normal {
    @apply text-slate-800 dark:text-slate-100;
  }

  .text-soft {
    @apply text-slate-600 dark:text-slate-400;
  }

  .row-numbers {
    @apply relative;
  }

  .row-numbers tbody {
    counter-reset: rowNumber;
  }

  .row-numbers tbody tr {
    counter-increment: rowNumber;
  }

  .row-numbers tbody .row-number::before {
    content: counter(rowNumber);
  }

  .modal {
    @apply fixed left-1/2 top-1/2 z-50 w-[calc(100%-4rem)] sm:w-full -translate-x-[calc(50%+2rem)] sm:-translate-x-1/2 -translate-y-1/2 max-w-lg gap-4 bg-slate-50 dark:bg-slate-800 border dark:border-slate-700 p-6 shadow-md transition duration-200 ease-in-out rounded-lg mx-8 sm:mx-0 overflow-y-auto max-h-[calc(100svh-8rem)] my-4 sm:max-h-none sm:my-0;
  }

  .modal-backdrop {
    @apply fixed inset-0 z-50 bg-black/50 backdrop-blur-sm transition duration-200 ease-in-out w-full h-full;
  }

  .modal-x-btn {
    @apply absolute right-2 top-2 p-2 rounded-full opacity-70 transition-opacity hover:opacity-100 focus:outline-none focus:ring-2 focus:ring-offset-2 hover:bg-slate-200 dark:hover:bg-slate-700;
  }

  .card {
    @apply p-6 border rounded-lg shadow-md bg-slate-50/85 dark:bg-slate-800/85 backdrop-blur-sm dark:shadow-none dark:border-slate-700;
  }

  .dropdown-toggle {
    @apply flex items-center gap-3 py-2 px-4 border border-slate-300 shadow bg-white font-normal rounded-md focus:outline-none focus:border-indigo-500 dark:bg-slate-800 dark:border-slate-700 dark:focus:border-slate-600;
  }

  .dropdown-menu {
    @apply pointer-events-none absolute z-50 w-max scale-75 rounded-md bg-white p-2 opacity-0 shadow-md transition duration-200 ease-in-out dark:bg-slate-800 border border-slate-300 dark:border-slate-700 dark:shadow-none flex flex-col gap-1.5;
  }

  .dropdown-option {
    @apply flex items-center gap-2.5 py-2 px-4 rounded transition duration-200 ease-in-out w-full hover:bg-slate-200/80 dark:hover:bg-slate-700/80;
  }

  .dropdown-option-primary {
    @apply flex items-center gap-2.5 py-2 px-4 rounded transition duration-200 ease-in-out w-full hover:bg-indigo-100 dark:hover:bg-indigo-900/80 hover:text-indigo-700 dark:hover:text-indigo-200;
  }

  .dropdown-option-destructive {
    @apply flex items-center gap-2.5 py-2 px-4 rounded transition duration-200 ease-in-out w-full hover:bg-rose-100 dark:hover:bg-rose-900/80 hover:text-rose-700 dark:hover:text-rose-200;
  }
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
